* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.35em;
}

.numberContainerFlex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    width: 370px;
    height: 370px;
}

.number {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 2px solid black;
    margin: 2px;
    text-align: center;
    box-shadow: 5px 5px lightgrey;
    background-color: lightgoldenrodyellow;
}